doctype html
html
  head
    meta(name='viewport', content='width=device-width, initail-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', crossorigin='anonymous')
    script(src='/javascripts/bootstrap.min.js')
